<form method="POST" class="delete-form"  data-url="{% url 'empDel' instance.id %}"> {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Warning</h4>
    </div>
    <div class="modal-body">
        <p>Do you want to remove this recode?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Remove Employee</button>
    </div>
</form>