.navbar-static-top {
  margin-bottom: 19px;
  /*background-color: #054201;*/
}
/*
.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: green;
}

.navbar-default .navbar-nav>li>a {
    color: gray;
}

.navbar-default .navbar-nav>li>a:hover {
    color: green;
}

.navbar-default .navbar-toggle {
    border-color: transparent !important;
}

.navbar-default .navbar-toggle:hover {
    border-color: white !important;
}

.navbar-toggle {
    background-color: #054201 !important;
}*/